{{ define "main" -}}


<div class="tabs-container">
    <div class="tabs" role="tablist">
        <button class="tab active" id="a">Publications</button>
        <button class="tab" id="b">Talks</button>
        <button class="tab" id="c">Reports</button>
    </div>
    <div class="tabcontent a" style="display:block;">
        <br>
        <div class="publications">
        {{ range where .Site.RegularPages "Section" "publications" }}
        {{ partial "publication/single.html" . }}
        {{- end }}
        </div>
    </div>
    <div class="tabcontent b">
        <br>
        <div class="talks">
        {{ range where .Site.RegularPages "Section" "talks" }}
        {{ partial "publication/single.html" . }}
        {{- end }}
        </div>
    </div>
    <div class="tabcontent c">
        <br>
        <div class="reports">
        {{ range where .Site.RegularPages "Section" "reports" }}
        {{ partial "publication/single.html" . }}
        {{- end }}
        </div>
    </div>
</div>

{{ partial "pagination.html" . }}
{{- end }}